@model List<Application.ViewModels.ProductViewModel>
@{
    Layout = "_Layout";
}


 
<div id="mainCarousel" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">
        <div class="carousel-item active">
           
            <img src="https://www.idiomas.it/images/00005/sfondo02_large.jpg" class="w-100 h-100 object-fit-cover" style="object-fit: cover;" alt="Imagen 1">
            <div class="carousel-caption d-none d-md-block">
                <h5>Bienvenido a nuestra plataforma</h5>
                <p>Aprende sin límites, donde y cuando quieras.</p>
            </div>
        </div>

        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
    </button>


<head>
  
   


    <title>Learning English</title>

    <link rel="stylesheet" href="~/css1/maicons.css">

    <link rel="stylesheet" href="~/css1/bootstrap.css">

    <link rel="stylesheet" href="~/vendor/owl-carousel/css/owl.carousel.css">

    <link rel="stylesheet" href="~/vendor/animate/animate.css">
 

    <link rel="stylesheet" href="~/css1/theme.css">
</head>
<body>


    <!-- Back to top button -->
    <div class="back-to-top"></div>

    



    <div class="bg-light">
        <div class="page-section py-3 mt-md-n5 custom-index">
            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-md-4 py-3 py-md-0">
                        <div class="card-service wow fadeInUp">
                            <div class="circle-shape bg-secondary text-white">
                                <span class="mai-chatbubbles-outline"></span>
                            </div>
                            <p><span>Chat</span> with a teacher</p>
                        </div>
                    </div>
                    <div class="col-md-4 py-3 py-md-0">
                        <div class="card-service wow fadeInUp">
                            <div class="circle-shape bg-primary text-white">
                                <span class="mai-shield-checkmark"></span>
                            </div>
                            <p><span>Learn</span> safely</p>
                        </div>
                    </div>
                    <div class="col-md-4 py-3 py-md-0">
                        <div class="card-service wow fadeInUp">
                            <div class="circle-shape bg-accent text-white">
                                <span class="mai-basket"></span>
                            </div>
                            <p><span>Private</span> classes</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .page-section -->

        <div class="page-section pb-0">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 py-3 wow fadeInUp">
                        <h1>
                       
                            Learning with us<br> 
                        </h1>
                        <p class="text-grey mb-4">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Accusantium aperiam earum ipsa eius, inventore nemo labore eaque porro consequatur ex aspernatur. Explicabo, excepturi accusantium! Placeat voluptates esse ut optio facilis!</p>
                        <a href="about.html" class="btn btn-primary">Learn More</a>
                    </div>
                    <div class="col-lg-6 wow fadeInRight" data-wow-delay="400ms">
                        <div class="img-place custom-img-1">
                            <img src="~/img/R.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .bg-light -->
    </div> <!-- .bg-light -->

    <div class="page-section">
        <div class="container">
            <h1 class="text-center mb-5 wow fadeInUp">Our classes</h1>

           

    <div class="page-section bg-light">
        <div class="container">
           
            <div class="row mt-5">
                <div class="col-lg-4 py-2 wow zoomIn">
                    <div class="card-blog">
                        <div class="header">
                            <div class="post-category">
                                <a href="#">BEGINNING</a>
                            </div>
                            <a href="blog-details.html" class="post-thumb">
                                <img src="~/img/blog/imagen0.png" alt="">
                            </a>
                        </div>
                        <div class="body">
                                    <h5 class="post-title"><a href="blog-details.html">You’ll learn the basics of english</a></h5>
                            <div class="site-info">
                                <div class="avatar mr-2">
                                    <div class="avatar-img">
                                        <img src="~/img/person/1.jpg" alt="">
                                    </div>
                                            <span>Classes level 1</span>
                                </div>
                                <span class="mai-time"></span> 1 week ago
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 wow zoomIn">
                    <div class="card-blog">
                        <div class="header">
                            <div class="post-category">
                                <a href="#">INTERMEDIATE</a>
                            </div>
                            <a href="blog-details.html" class="post-thumb">
                                <img src="~/img/blog/imagen1.png" alt="">
                            </a>
                        </div>
                        <div class="body">
                                    <h5 class="post-title"><a href="blog-details.html">You will learn the concepts of grammar.</a></h5>
                            <div class="site-info">
                                <div class="avatar mr-2">
                                    <div class="avatar-img">
                                        <img src="~/img/person/1.jpg" alt="">
                                    </div>
                                    <span>Classes level 2</span>
                                </div>
                                <span class="mai-time"></span> 4 weeks ago
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 wow zoomIn">
                    <div class="card-blog">
                        <div class="header">
                            <div class="post-category">
                                <a href="#">ADVANCED</a>
                            </div>
                            <a href="blog-details.html" class="post-thumb">
                                <img src="~/img/blog/imagen2.png" alt="">
                            </a>
                        </div>
                        <div class="body">
                                    <h5 class="post-title"><a href="blog-details.html">You will learn to understand the language</a></h5>
                            <div class="site-info">
                                <div class="avatar mr-2">
                                    <div class="avatar-img">
                                        <img src="~/img/person/1.jpg" alt="">
                                    </div>
                                            <span>Classes level 3</span>
                                </div>
                                <span class="mai-time"></span> 2 months ago
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 text-center mt-4 wow zoomIn">
                    <a href="blog.html" class="btn btn-primary">View More</a>
                </div>

            </div>
        </div>
    </div> <!-- .page-section -->

    <div class="page-section">
        <div class="container">
                    <h1 class="text-center wow fadeInUp">Report a problem with the class</h1>

                    <form asp-controller="Home" asp-action="EnviarCorreo" method="post" class="main-form">
                        <div class="row mt-5 ">
                            <div class="col-12 col-sm-6 py-2 wow fadeInLeft">
                                <input type="text" name="Nombre" class="form-control" placeholder="Full name" required />
                            </div>
                            <div class="col-12 col-sm-6 py-2 wow fadeInRight">
                                <input type="email" name="Correo" class="form-control" placeholder="Email address.." required />
                            </div>
                            <div class="col-12 col-sm-6 py-2 wow fadeInLeft" data-wow-delay="300ms">
                                <input type="date" name="Fecha" class="form-control" required />
                            </div>
                            <div class="col-12 col-sm-6 py-2 wow fadeInRight" data-wow-delay="300ms">
                                <select name="Departamento" class="custom-select" required>
                                    <option value="general">General Problem</option>
                                    <option value="Beginning">Beginning</option>
                                    <option value="Intermediate">Intermediate</option>
                                    <option value="Advanced">Advanced</option>
                                </select>
                            </div>
                            <div class="col-12 py-2 wow fadeInUp" data-wow-delay="300ms">
                                <input type="text" name="Numero" class="form-control" placeholder="Number.." required />
                            </div>
                            <div class="col-12 py-2 wow fadeInUp" data-wow-delay="300ms">
                                <textarea name="Mensaje" class="form-control" rows="6" placeholder="Enter message.." required></textarea>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary mt-3 wow zoomIn">Enviar Problema</button>

                        @if (ViewBag.Mensaje != null)
                        {
                            <div class="alert alert-info mt-3">@ViewBag.Mensaje</div>
                        }
                    </form>

        </div>
    </div> <!-- .page-section -->

    <div class="page-section banner-home bg-image" style="background-image: url(~/img/banner-pattern.svg);">
        <div class="container py-5 py-lg-0">
            <div class="row align-items-center">
                <div class="col-lg-4 wow zoomIn">
                    <div class="img-banner d-none d-lg-block">
                        <img src="~/img/mobile_app1.png" alt="">
                    </div>
                </div>
                <div class="col-lg-8 wow fadeInRight">
                            <h1 class="font-weight-normal mb-3">Get easy access to all classes using the LEARNING ENGLIS app</h1>
                    <a href="#"><img src="../assets/img/google_play.svg" alt=""></a>
                    <a href="#" class="ml-2"><img src="~/img/app_store.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div> <!-- .banner-home -->
        </div>
    

        </div>
 
    <script src="~/js1/jquery-3.5.1.min.js"></script>

    <script src="~/js1/bootstrap.bundle.min.js"></script>

    <script src="~/vendor/owl-carousel/js/owl.carousel.min.js"></script>

    <script src="~/vendor/wow/wow.min.js"></script>

    <script src="~/js1/theme.js"></script>

</body>
